// Layout variables partial

$section-padding: 40px 0;

section.intro, section.venues {
	background: $section-light;
}
section.invitation, section.features, section.events, section.blog, section.map, section.rsvp {
	background: $section-dark;
}